	<div class="container">
		<h1>Register</h1>
		<form>
			<!-- Username -->
			<div class="form-group">
				<input type="text" name="Username" placeholder="Username" class="form-control">
			</div>
			<!-- Password -->
			<div class="form-group">
				<input type="Password" name="Password" placeholder="Password" class="form-control">
			</div>
			<!-- Verify Password -->
			<div class="form-group">
				<input type="Password" name="VerifyPassword" placeholder="Verify Password" class="form-control">
			</div>

			<div>
				<!-- Register Button -->
				<a class="btn btn-primary btn-block" routerLink="/profile">Register</a>
				<!-- Cancel Button -->
				<a class="btn btn-danger btn-block" routerLink="/login">Cancel</a>
			</div>
		</form>
	</div>