/*If you use "*" as a command, it affects everything.
*{margin: 0;
padding: 0;}*/

/*h1{margin =: 0;
	padding: 0;}*/

/*#blog-1{color: red;}

#blog-2{color: blue;}

#blog-3{color: yellow;}

.blog-center{text-align:center;}*/

h3 {color: black}

/*This command Changes Background and Text Color:*/
/*body{background-color: black; color: white}*/

/*This command Changes Margin Size and Placement:*/
body{width: 80%; margin: auto;}

/*h1{background: black;
	text-align:center;
	color: white;
	font-size: 40px}*/

/*Note: The id will override everything, like classes and tags.
If you used h3{}, the more specific #blog commands would overrule,
because they're more specific. For example, these blog tags are
all tied to h3s. However, because I used ids in each h3, there
is an override by those blog ids. You can grey out certain styles as a placeholder.*/

/*If there are conflicting commands, the more recent command will overrule. So, if
there are 2 commands for button {}, then the second command will be recongnized. */

button {background: #333;}

button a{color: white;}

a:hover{color: blue}
li{list-style: square}

/*To Change Paragraph Margins*/
/*p{margin-top:; 
margin-left:;
margin-right: ;
margin bottom:}*/

/*To Change the Borders and Paragraphs around Pictures*/
/*img{padding: 180px}*/

#p1{color: blue;
	background-color: black;
	padding: 100px;
	margin: 100px;}

.container{background-color: blue; color: white;}

#top{width: 50px; height:30px; position: absolute; top: 80%; left: 50% }

/*#main-link {font-size: }*/

#pageList li:first-child{color: green;}