	<!-- Navigation Bar -->
	<nav class="navbar navbar-dark fixed-top sw-gray">
		<!-- Back (<) -->
		<a routerLink="/page-list" class="sw-black"><i class="fas fa-chevron-left"></i></a>
		<div class="sw-80-width">
			<!-- Widgets Link -->
			<a class="sw-font-white sw-no-underline float-left" routerLink="/widget-list">Widgets</a>
		</div>
		<!-- Widget Choose -->
		<a routerLink="/widget-chooser" class="sw-black float-right"><i class="fas fa-plus"></i>
	</nav>

	<!-- Media Title and Widget -->
	<div class="container-fluid">
		<!-- Widget -->
		<div class="sw-absolute-right">
			<a routerLink="/widget-heading">
			<i class="fas fa-cogs"></i></a>
			<a class="sw-black" href="#">
			<i class="fas fa-bars"></i></a>
		</div>

		<!-- Title -->
		<h1>Media</h1>
	</div>

	<br>

	<!-- Image Section -->
	<div class="container-fluid">
		<!-- Image Title -->
		<div><h5>Brain Wellness Takes a Quantum Leap</h5></div>

		<!-- Image Widget-->
		<div class="sw-absolute-right widget-front">
			<a routerLink="/widget-image">
			<i class="fas fa-cogs"></i></a>
			<a class="sw-black" href="#">
			<i class="fas fa-bars"></i></a>
		</div>

		<!-- Image -->
		<div>
			<!-- Full Screen Image -->
			<img class="d-none d-lg-block" width="360" height="360" src="https://cdn.psychologytoday.com/sites/default/files/styles/article-inline-half/public/field_blog_entry_images/2017-10/shutterstock_155318618_small.jpg?itok=RtH1kaga">
			<!-- Mobile Image -->
			<img class="d-lg-none" width="85%" src="https://cdn.psychologytoday.com/sites/default/files/styles/article-inline-half/public/field_blog_entry_images/2017-10/shutterstock_155318618_small.jpg?itok=RtH1kaga">
		</div>

		<!-- Paragraph -->
		<p>by Dana Klisanin Ph.D.</p>
		<p>As consciousness hacking gains a greater footing in our culture, psychiatrists, <br> psychologists, and wellness experts are moving us from a mindset of fixing <br> what’s broken to a drive toward health, optimization, and enhancement. </p>
		<a href="https://www.psychologytoday.com/us/blog/digital-altruism/201710/brain-wellness-takes-quantum-leap">Read More</a>
	</div>

	<br>
	<br>

	<!-- Youtube Title and Widget -->
	<div class="container-fluid">
		<!-- Youtube Title -->
		<div><h5>The Brain-Changing Benefits of Exercise|Ted Talk</h5></div>

		<!-- Edit Youtube Widget -->
		<div class="sw-absolute-right widget-front">
			<a href="widget-youtube.html">
			<i class="fas fa-cogs"></i></a>
			<a class="sw-black" href="#">
			<i class="fas fa-bars"></i></a>
		</div>

		<!-- YouTube Video -->
		<div class="video-width">
				<!-- Full Screen Video -->
				<iframe class="d-none d-lg-block" width="504" height="283" src="https://www.youtube.com/embed/BHY0FxzoKZE"></iframe>
				<!-- <iframe class="d-none d-lg-block" width="560" height="315" src="https://www.youtube.com/embed/BHY0FxzoKZE"></iframe> -->
				<!-- Mobile Screen Video -->
				<iframe class="d-lg-none" width="280" height="180" src="https://www.youtube.com/embed/BHY0FxzoKZE"></iframe>
  				<!-- <iframe class="embed-responsive-item" width="252" height="141" src="https://www.youtube.com/embed/BHY0FxzoKZE"></iframe> -->
  				<!-- <iframe class="embed-responsive-item" width="280" height="142" src="https://www.youtube.com/embed/BHY0FxzoKZE"></iframe> -->
  				<!-- <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/BHY0FxzoKZE"></iframe> -->
  		</div>

		<!-- YouTube Paragraph -->
		<div>
			<p>Learn about the life-changing benefits of exercise and its effect on the brain from <br> neuroscientist Wendy Suzuki.</p>
		</div>
	</div>

	<!-- Footer -->
	<nav class="navbar navbar-dark sw-gray fixed-bottom sw-gray">
		<!-- Preview and Eye Buttons -->
		<div class="sw-width">
			<a class="sw-black" href="#"><i class="fas fa-play"></i>
			<a class="sw-black" href="#"><i class="fas fa-eye"></i>
			<!-- Profile User (Button) -->
			<a class="sw-font-white float-right" href="../user/profile.html"><i class="fas fa-user"></i></a>
		</div>
	</nav>