<!-- Navigation Bar -->
<nav class="navbar navbar-dark bg-primary fixed-top">
	<!-- Profile Link -->
	<a class = "navbar-brand" routerLink="/user/{{uid}}"><strong>Profile</strong></a>
	<button class=" btn sw-font-white sw-button-to-a" type="submit" form="profileForm" [disabled]="f.invalid"><i class="fas fa-check"></i></button>
</nav>

<!-- Profile Form Container -->
<div class="container">
	<!-- Username alert if username already exists -->
	<div class="alert alert-danger" *ngIf="usernameTaken">Username taken, please try another one.</div>

	<!-- Profile alert if profile updated successfully -->
	<div class="alert alert-success" *ngIf="submitSuccess">Updated successfully!</div>

	<!-- Profile Form -->
	<form (ngSubmit)="update()" id="profileForm" #f="ngForm">
		<!-- Username -->
		<div class="form-group">
			<div><label for="username"><strong>Username</strong></label></div>
			<input class="form-control" name="username" type="text"  placeholder="Username"  required ngModel={{user.username}} #username="ngModel">
		</div>

		<!-- Email -->
		<div class="form-group">
			<div><label for="email"><strong>Email</strong></label></div>
			<input class="form-control" type="email" name="email" placeholder="Email"  ngModel={{user.email}} #email="ngModel">
		</div>

		<!-- First Name -->
		<div class="form-group">
			<div><label for="firstName"><strong>First Name</strong></label></div>
			<input class="form-control" name="firstName" type="text" placeholder="First Name" required ngModel={{user.firstName}} #firstName="ngModel">
		</div>

		<!-- Last Name -->
		<div class="form-group">
			<div><label for="lastName"><strong>Last Name</strong></label></div>
			<input class="form-control" name="lastName" type="text" placeholder="Last Name" required ngModel={{user.lastName}} #lastName="ngModel">
		</div>

		<div>
			<!-- Website Button Website-List Link-->
			<a class="btn btn-primary btn-block" routerLink="/user/{{uid}}/website">Websites</a>
			<!-- Logout Button Login Link-->
			<a class="btn btn-danger btn-block" routerLink="/login">Logout</a>
		</div>
	</form>
</div>

<!-- Footer -->
<nav class="navbar navbar-dark bg-primary fixed-bottom">
	<div class="sw-width">
		<a class="sw-font-white float-right" routerLink="/user/{{uid}}"><i class="fas fa-user"></i></a>
	</div>
</nav>