	<!-- Navigation Bar -->
	<nav class="navbar navbar-dark bg-primary fixed-top">
		<!-- Profile Link -->
		<a class = "navbar-brand" routerLink="/user/:userId"><strong>Profile</strong></a>
		<button class="sw-font-white" type="submit" form="profileForm" [disabled]="f.invalid"><i class="fas fa-check"></i></button>
	</nav>

	<div class="container">
		<h1>Profile</h1>
		<form (ngSubmit)="update()">
			<!-- Username -->
			<div><label><strong>Username</strong></label></div>
			<div class="form-group">
				<input type="text" name="Username" placeholder="Username" class="form-control">
			</div>
			<!-- Email -->
			<div><label><strong>Email</strong></label></div>
			<div class="form-group">
				<input type="Email" name="Email" placeholder="Email" class="form-control">
			</div>
			<!-- First Name -->
			<div><label><strong>First Name</strong></label></div>
			<div class="form-group">
				<input type="text" name="FirstName" placeholder="First Name" class="form-control">
			</div>
			<!-- Last Name -->
			<div><label><strong>Last Name</strong></label></div>
			<div class="form-group">
				<input type="text" name="LastName" placeholder="Last Name" class="form-control">
			</div>

			<div>
				<!-- Website Button Website-List Link-->
				<a class="btn btn-primary btn-block" routerLink="/user/:userId/website">Websites</a>
				<!-- Logout Button Login Link-->
				<a class="btn btn-danger btn-block" routerLink="/login">Logout</a>
			</div>
		</form>
	</div>
	<!-- Footer -->
	<nav class="navbar navbar-dark bg-primary fixed-bottom">
		<div class="sw-width">
			<a class="sw-font-white float-right" routerLink="/user/:userId"><i class="fas fa-user"></i></a>
		</div>
	</nav>


<!-- We want to be able to view and update the user's profile information once they log in or register.

ngForm - gives the form a name

ngModel - binds all of the fields of the form together under ngForm

ngSubmit - links the function from the compotent ts that allows us to submit the form. In this case, it's update(), since that will be the primary function while the user visits their profile page.




 -->