	<!-- Navigation Bar -->
	<nav class="navbar navbar-dark fixed-top sw-gray">
		<!-- Back (<) Widget-List Link-->
		<a routerLink="/user/:uid/website/:wid/page/:pid/widget" class="sw-black"><i class="fas fa-chevron-left"></i></a>
		<div class="sw-80-width">
			<!-- Choose Widget Link Widget-Chooser Link-->
			<a class="sw-font-white sw-no-underline float-left" routerLink="/user/:uid/website/:wid/page/:pid/widget/new">Choose Widget</a>
		</div>
	</nav>

	<!-- List Cogs -->
	<nav>
		<div>
			<ul class="list-group">
			<!-- List-->
				<!-- Heading Link Widget-Heading/Edit Link-->
				<li class="list-group-item">
					<a routerLink="/user/:uid/website/:wid/page/:pid/widget/:wgid" class="text-primary sw-no-underline">Header</a>
				</li>
				<!-- Label Link No Link-->
				<li class="list-group-item">
					<a href="#" class="text-primary sw-no-underline">Label</a>
				</li>
				<!-- HTML Link No Link-->
				<li class="list-group-item">
					<a href="#" class="text-primary sw-no-underline">HTML</a>
				</li>
				<!-- Text Input Link No Link-->
				<li class="list-group-item">
					<a href="#" class="text-primary sw-no-underline">Text Input</a>
				</li>
				<!-- "Link" Link No Link-->
				<li class="list-group-item">
					<a href="#" class="text-primary sw-no-underline">Link</a>
				</li>
				<!-- Button Link No Link-->
				<li class="list-group-item">
					<a href="#" class="text-primary sw-no-underline">Button</a>
				</li>
				<!-- Image Link Widget-Image/Edit Link-->
				<li class="list-group-item">
					<a routerLink="/user/:uid/website/:wid/page/:pid/widget/:wgid" class="text-primary sw-no-underline">Image</a>
				</li>
				<!-- YouTube Link Widget-Youtube/Edit Link-->
				<li class="list-group-item">
					<a routerLink="/user/:uid/website/:wid/page/:pid/widget/:wgid" class="text-primary sw-no-underline">YouTube</a>
				</li>
				<!-- Data Table Link No Link-->
				<li class="list-group-item">
					<a href="#" class="text-primary sw-no-underline">Data Table</a>
				</li>
				<!-- Repeater Link No Link-->
				<li class="list-group-item">
					<a href="#" class="text-primary sw-no-underline">Repeater</a>
				</li>	
		</ul>
		</div>

		<!-- Footer -->
		<nav class="navbar navbar-dark sw-gray fixed-bottom">
			<!-- Profile User (Button) -->
			<div class="sw-width">
				<a class="sw-font-white float-right" routerLink="/user/:userId"><i class="fas fa-user"></i></a>
			</div>
		</nav>