	<!-- Navigation Bar -->
	<nav class="navbar navbar-dark fixed-top sw-gray">
		<!-- Back (<) -->
		<a routerLink="/widget-list" class="sw-black"><i class="fas fa-chevron-left"></i></a>
		<div class="sw-80-width">
			<!-- Choose Widget Link -->
			<a class="sw-font-white sw-no-underline float-left" routerLink="/widget-chooser">Choose Widget</a>
		</div>
	</nav>

	<!-- List Cogs -->
	<nav>
		<div>
			<ul class="list-group">
			<!-- List-->
				<!-- Heading Link -->
				<li class="list-group-item">
					<a routerLink="/widget-heading" class="text-primary sw-no-underline">Header</a>
				</li>
				<!-- Label Link -->
				<li class="list-group-item">
					<a href="#" class="text-primary sw-no-underline">Label</a>
				</li>
				<!-- HTML Link -->
				<li class="list-group-item">
					<a href="#" class="text-primary sw-no-underline">HTML</a>
				</li>
				<!-- Text Input Link -->
				<li class="list-group-item">
					<a href="#" class="text-primary sw-no-underline">Text Input</a>
				</li>
				<!-- "Link" Link -->
				<li class="list-group-item">
					<a href="#" class="text-primary sw-no-underline">Link</a>
				</li>
				<!-- Button Link -->
				<li class="list-group-item">
					<a href="#" class="text-primary sw-no-underline">Button</a>
				</li>
				<!-- Image Link -->
				<li class="list-group-item">
					<a routerLink="/widget-image" class="text-primary sw-no-underline">Image</a>
				</li>
				<!-- YouTube Link -->
				<li class="list-group-item">
					<a routerLink="/widget-youtube" class="text-primary sw-no-underline">YouTube</a>
				</li>
				<!-- Data Table Link -->
				<li class="list-group-item">
					<a href="#" class="text-primary sw-no-underline">Data Table</a>
				</li>
				<!-- Repeater Link -->
				<li class="list-group-item">
					<a href="#" class="text-primary sw-no-underline">Repeater</a>
				</li>	
		</ul>
		</div>

		<!-- Footer -->
		<nav class="navbar navbar-dark sw-gray fixed-bottom">
			<!-- Profile User (Button) -->
			<div class="sw-width">
				<a class="sw-font-white float-right" routerLink="/profile"><i class="fas fa-user"></i></a>
			</div>
		</nav>