 <!-- Navigation Bar -->
<nav class="navbar navbar-dark sw-gray fixed-top">
	<!-- Cancel (<) Widget-List Link-->
	<a class="sw-black" routerLink="/user/{{uid}}/website/{{wid}}/page/{{pid}}/widget"><i class="fas fa-chevron-left"></i></a>

	<!-- New Page Title Widget-Heading/Edit Link-->
	<div class="sw-80-width">
		<a class="sw-left-padding sw-no-underline" routerLink="/user/{{uid}}/website/{{wid}}/page/{{pid}}/widget/new"><b class="sw-black">Choose Widget</b></a>
	</div>

	<!-- OK (/) Widget-List Link-->
	<button class="btn sw-button-to-a sw-black float-right" type="submit" form="widgetForm" [disabled]="f.invalid"><i class="fas fa-check"></i></button>
</nav>


<!-- Form -->
<div class="container">
	<form id="widgetForm" (ngSubmit)="update()" #f="ngForm">
		<!-- Page Name -->
		<div><label>Name</label></div>
		<div class="form-group">
			<input class="form-control" name="name" type="text" placeholder="Name" required ngModel="{{widget.name}}" #name="ngModel"  >
		</div>

		<!-- Alert Empty Text -->
		<div class="alert alert-danger" *ngIf="name.invalid && name.touched">Name cannot be empty.</div>

		<!-- Rows -->
		<div class="form-group">
			<div><label>Rows</label></div>
			<input class="form-control" name="rows" type="number" placeholder="Number of Rows" required ngModel="{{widget.rows}}" #rows="ngModel">
		</div>

		<!-- Alert Empty Rows -->
		<div class="alert alert-danger" *ngIf="rows.invalid && rows.touched">Rows cannot be empty.</div>


		<!-- Placeholder -->
		<div><label>Placeholder</label></div>
		<div class="form-group">
			<input class="form-control" name="placeholder" type="text" placeholder="Placeholder of the Widget" ngModel="{{widget.placeholder}}" #placeholder="ngModel"  >
		</div>

		<!-- Formatted Check Box -->
		<div><label>Formatted</label></div>
		<div class="form-group">
			<input name="formatted" type="checkbox" ngModel="{{widget.formatted}}" #formatted="ngModel"  >
		</div>

		<br>

		<!-- Delete Widget-List Link-->
		<div>
			<button class="btn btn-danger btn-block" type="button" (click)="remove()">Delete</button>
		</div>

		<!-- Cancel -->
		<div>
			<button class="btn btn-warning btn-block" routerLink="/user/{{uid}}/website/{{wid}}/page/{{pid}}/widget">Cancel</button>
		</div>
	</form>

 <!-- Footer -->
<nav class="navbar navbar-dark sw-gray fixed-bottom">
	<!-- Profile User (Button) -->
	<div class="sw-width">
		<a class="sw-font-white float-right" routerLink="/user/{{uid}}"><i class="fas fa-user"></i></a>
	</div>
</nav>
