<!-- Navigation Bar -->
<nav class="navbar navbar-dark bg-primary fixed-top">
	<!-- Profile Link -->
	<a class = "navbar-brand" routerLink="/user/{{uid}}"><b>Profile</b></a>
	<button class=" btn sw-font-white sw-button-to-a" type="submit" form="profileForm" [disabled]="f.invalid"><i class="fas fa-check"></i></button>
</nav>

<!-- Profile Form Container -->
<div class="container">
	<!-- Username alert if username already exists -->
	<div class="alert alert-danger" *ngIf="usernameTaken">Username taken, please try another one.</div>

	<!-- Profile alert if profile updated successfully -->
	<div class="alert alert-success" *ngIf="submitSuccess">Updated successfully!</div>

	<!-- Profile Form -->
	<form (ngSubmit)="update()" id="profileForm" #f="ngForm">
		<!-- Username -->
		<div class="form-group">
			<div><label for="username"><b>Username</b></label></div>
			<input class="form-control" name="username" type="text"  placeholder="Username" required ngModel={{user.username}} #username="ngModel">
		</div>

		<!-- Alert Empty Username -->
		<div class="alert alert-danger" *ngIf="username.invalid && username.touched">Username can't be empty!</div>

		<!-- Email -->
		<div class="form-group">
			<div><label for="email"><b>Email</b></label></div>
			<input class="form-control" type="email" name="email" placeholder="E-mail"  ngModel={{user.email}} required #email="ngModel">
		</div>

		<!-- Alert Empty E-Mail -->
		<div class="alert alert-danger" *ngIf="email.invalid && email.touched">E-Mail can't be empty!</div>

		<!-- First Name -->
		<div class="form-group">
			<div><label for="firstName"><b>First Name</b></label></div>
			<input class="form-control" name="firstName" type="text" placeholder="First Name" required ngModel={{user.firstName}} #firstName="ngModel">
		</div>

		<!-- Alert Empty First Name -->
		<div class="alert alert-danger" *ngIf="email.invalid && email.touched">First name can't be empty!</div>

		<!-- Last Name -->
		<div class="form-group">
			<div><label for="lastName"><b>Last Name</b></label></div>
			<input class="form-control" name="lastName" type="text" placeholder="Last Name" required ngModel={{user.lastName}} #lastName="ngModel">
		</div>

		<!-- Alert Empty First Name -->
		<div class="alert alert-danger" *ngIf="lastName.invalid && lastName.touched">Last name can't be empty!</div>

		<div>
			<!-- Website Button Website-List Link-->
			<a class="btn btn-primary btn-block" routerLink="/user/{{uid}}/website">Websites</a>
			<!-- Logout Button Login Link-->
			<a (click)= "logout()" class="btn btn-danger btn-block">Logout</a>
		</div>
	</form>
</div>

<!-- Footer -->
<nav class="navbar navbar-dark bg-primary fixed-bottom">
	<div class="sw-width">
		<a class="sw-font-white float-right" routerLink="/user/{{uid}}"><i class="fas fa-user"></i></a>
	</div>
</nav>