<!-- Navigation Bar -->
<nav class="navbar navbar-dark sw-gray fixed-top">
	<!-- Cancel (<) Page-List Link-->
	<a routerLink="/user/{{uid}}/website/{{wid}}/page" class="sw-black"><i class="fas fa-chevron-left"></i></a>

	<!-- New Page Title Page-New Link-->
	<div class="sw-80-width">
		<a class="sw-left-padding sw-no-underline" routerLink="/user/{{uid}}/website/{{wid}}/page/new"><b class="sw-black">New Page</b></a>
	</div>

	<!-- OK (/) Page-List Link-->
	<button class="sw-button-to-a sw-black float-right" type="submit" form="pageForm"><i class="fas fa-check"></i></button>
</nav>

<div class="container">
	<form id="pageForm" (ngSubmit)="create()" #f="ngForm">
		<!-- Name -->
		<div class="form-group">
			<label>Name</label>
			<input class="form-control" name="name" type="text" placeholder="Enter your page name." required ngModel #name="ngModel">
		</div>
		
		<!-- Alert for Empty Name Field -->
		<div class="alert alert-warning" *ngIf="name.invalid && name.touched">Name cannot be empty.</div>

		<!-- Title -->
		<div class="form-group">
			<label>Page Description</label>
			<input class="form-control" name="description" type="text" placeholder="Enter your page description." ngModel #description="ngModel">
		</div>

		<!-- Submit Button -->
		<button class="btn btn-primary btn-block" type="submit" [disabled]="f.invalid">Submit</button>

		<!-- Cancel Button -->
		<button class="btn btn-danger btn-block" routerLink="/user/{{uid}}/website/{{wid}}/page">Cancel</button>
	</form>
</div>

<!-- Footer -->
<nav class="navbar navbar-dark sw-gray fixed-bottom">
	<!-- Profile User (Button) -->
	<div class="sw-width">
		<a class="sw-font-white float-right" routerLink="/user/{{uid}}"><i class="fas fa-user"></i></a>
	</div>
</nav>