	<!-- Navigation Bar -->
	<nav class="navbar navbar-dark sw-gray fixed-top">
		<!-- Back Button (<) -->
		<a routerLink="/website-list" class="sw-black"><i class="fas fa-chevron-left"></i></a>
		<div class="sw-80-width">
			<!-- Pages Link -->
			<a class="sw-left-padding sw-no-underline" routerLink="/page-list"><b class="sw-black">Pages</b></a>
		</div>
		<!-- New Page (+) -->
		<a routerLink="/page-new" class="sw-black float-right"><i class="fas fa-plus"></i></a>
	</nav>

	<!-- List Cogs -->
	<nav>
		<div>
			<ul class="list-group">
			<!-- Edit Website List (Cogs) website-edit.html-->
				<li class="list-group-item">
					<!-- Blog Post Link -->
					<a routerLink="/widget-list" class="text-primary sw-no-underline">Blog Post</a>
					<a class="float-right" routerLink="/page-edit"><i class="fas fa-cog"></i></a>
				</li>

				<!-- Blogs Link -->
				<li class="list-group-item">
					<a routerLink="/widget-list" class="text-primary sw-no-underline">Blogs</a>
					<a class="float-right" routerLink="/page-edit"><i class="fas fa-cog"></i></a>
				</li>

				<!-- Home Link -->
				<li class="list-group-item">
					<a routerLink="/Widget-list" class="text-primary sw-no-underline">Home</a>
					<a class="float-right" routerLink="/page-edit"><i class="fas fa-cog"></i></a>
				</li>

				<!-- About Link -->
				<li class="list-group-item">
					<a routerLink="/widget-list" class="text-primary sw-no-underline">About</a>
					<a class="float-right" routerLink="/page-edit"><i class="fas fa-cog"></i></a>
				</li>

				<!-- Contact Link -->
				<li class="list-group-item">
					<a routerLink="/widget-list" class="text-primary sw-no-underline">Contact</a>
					<a class="float-right" routerLink="/page-edit"><i class="fas fa-cog"></i></a>
				</li>
			</ul>
		</div>
	</nav>
		<!-- Footer -->
		<nav class="navbar navbar-dark sw-gray fixed-bottom">
		<!-- Profile User (Button) -->
		<div class="sw-width">
			<a class="sw-font-white float-right" routerLink="/profile"><i class="fas fa-user"></i></a>
		</div>
	</nav>