<!-- Navigation Bar -->
<nav class="navbar navbar-dark sw-gray fixed-top">
	<!-- Back Button (<) Website-List Link-->
	<a class="sw-black" routerLink="/user/{{uid}}/website"><i class="fas fa-chevron-left"></i></a>
	<div class="sw-80-width">
		<!-- Pages Link Page-List Link-->
		<a class="sw-left-padding sw-no-underline sw-black" routerLink="/user/{{uid}}/website/{{wid}}/page"><b class="sw-black">Pages</b></a>
	</div>
	<!-- New Page (+) Page-New Link-->
	<a routerLink="/user/{{uid}}/website/{{wid}}/page/new" class="sw-black float-right"><i class="fas fa-plus"></i></a>
</nav>

<!-- List Cogs -->
<nav>
	<div>
		<ul class="list-group">
		<!-- Edit Website List (Cogs) website-edit.html-->
			<li class="list-group-item" *ngFor="let page of pages">
				<!-- Widget-List Link-->
				<a class="text-primary sw-no-underline" routerLink="/user/{{uid}}/website/{{wid}}/page/{{page._id}}/widget">{{page.name}}</a>
				<!-- Page-Edit Link-->
				<a class="float-right" routerLink="/user/{{uid}}/website/{{wid}}/page/{{page._id}}"><i class="fas fa-cog"></i></a>
			</li>
		</ul>
	</div>
</nav>

<!-- Footer -->
<nav class="navbar navbar-dark sw-gray fixed-bottom">
	<!-- Profile User (Button) -->
	<div class="sw-width">
		<a class="sw-font-white float-right" routerLink="/user/{{uid}}"><i class="fas fa-user"></i></a>
	</div>
</nav>