<!-- Navigation -->
<nav class="row navbar navbar-dark bg-primary fixed-top">
	<!-- Left Navbar -->
	<div class="col-sm-4 d-none d-sm-block">
		<div class="container-fluid">
			<!-- Back Button Website-List Link-->
			<a class="sw-font-white" routerLink="/user/{{uid}}/website"><i class="fas fa-chevron-left"></i></a>

			<!-- Websites Link Website-List Link-->
			<a class="sw-font-white sw-left-padding sw-no-underline" routerLink="/user/{{uid}}/website"><b>Websites</b></a>

			<!-- New Website Link Website-New Link-->
			<a class="sw-font-white float-right" routerLink="/user/{{uid}}/website/new" ><i class="fas fa-plus"></i></a>
		</div>
	</div>

	<!-- Right Navbar -->
	<div class="col-sm-8">
		<div class="container-fluid">
			<!-- New Website Title Website-New Link-->
			<a class="sw-font-white sw-no-underline" routerLink="/user/{{uid}}/website/new"><b class="sw-font-white">New Website</b></a>

			<!-- Check (/) Website-List Link-->
			<button class="btn sw-font-white float-right sw-button-to-a" type="submit" form="websiteForm" [disabled]="f.invalid"><i class="fas fa-check"></i></button>
		</div>
	</div>
</nav>

<!-- Left Website List Cogs -->
<div class="row">
	<div class="col-sm-4 d-none d-sm-block">
	<br>
	<br>
		<div class="container">
			<ul class="list-group">
				<li class="list-group-item" *ngFor="let website of websites">
					<!-- Page-List-->
					<a class="text-primary sw-no-underline" routerLink="/user/{{uid}}/website/{{website._id}}/page">{{website.name}}</a>
			
					<!-- Edit Website List (Cogs) Website-Edit Link-->
					<a class="float-right" routerLink="/user/{{uid}}/website/{{website._id}}"><i class="fas fa-cog"></i></a>
				</li>
			</ul>
		</div>
	</div>
</div>

<!-- Right Form -->
<div class="col-sm-8 float-right">
	<div class="container">
		<form id="websiteForm" (ngSubmit)="create()" #f="ngForm">
			<!-- Website Name -->
			<div class="form-group">
				<label for="website-name"><b>Name</b></label>
				<input class="form-control" type="text" name="name" placeholder="Name" required ngModel #name="ngModel">
			</div>

			<!-- Missing Name Alert -->
			<div class="alert alert-warning" *ngIf="name.invalid && name.touched">Name cannot be empty.</div>

			<!-- Website Description -->
			<div class="form-group">
				<label for="website-description"><b>Description</b></label>
				<textarea class="form-control" name="description" rows="5" placeholder="Describe your website here." ngModel #description="ngModel"></textarea>
			</div>

			<!-- Submit Button -->
			<button class="btn btn-success float-right" type="submit" [disabled]="f.invalid">Submit</button>
			<!-- Cancel Button, Nav to Website List -->
			<a class="btn btn-danger" routerLink="/user/{{uid}}/website" >Cancel</a>

		</form>
	</div>
</div>

<!-- footer -->
<nav class="navbar navbar-dark bg-primary fixed-bottom">
	<!-- Profile User (Button) -->
	<div class="sw-width">
		<a class="sw-font-white float-right" routerLink="/user/{{uid}}"><i class="fas fa-user"></i></a>
	</div>
</nav>

