	<!-- Navigation Bar -->
	<nav class="navbar navbar-dark sw-gray fixed-top">
		<!-- Cancel (<) -->
		<a href="widget-list.html" class="sw-black"><i class="fas fa-chevron-left"></i></a>
		<div class="sw-80-width">
			<!-- New Page Title -->
			<a class="sw-left-padding sw-no-underline" routerLink="/widget-heading"><b class="sw-black">Choose Widget</b></a>
		</div>
		<!-- OK (/) -->
		<a routerLink="/widget-list" class="sw-black float-right"><i class="fas fa-check"></i></a>
	</nav>

	<!-- Entry Fields -->
	<div class="container">
		<form>
			<!-- Page Name -->
			<div><label>Name</label></div>
			<div class="form-group">
				<input type="text" name="Name" class="form-control" placeholder="Name">
			</div>

			<!-- Page Title -->
			<div><label>Text</label></div>
			<div class="form-group">
				<input type="text" name="Title" class="form-control" placeholder="Title">
			</div>

			<!-- Size -->
			<div class="form-group">
				<div><label>Size</label></div>
				<input type="number" name="Size" class="form-control" placeholder="3">
			</div>

			<br>

			<!-- Delete -->
			<div>
				<a class="btn btn-danger btn-block" routerLink="/widget-list">Delete</a>
			</div>
		</form>

	<!-- Footer -->
	<nav class="navbar navbar-dark sw-gray fixed-bottom">
		<!-- Profile User (Button) -->
		<div class="sw-width">
			<a class="sw-font-white float-right" routerLink="/profile"><i class="fas fa-user"></i></a>
		</div>
	</nav>