Navigation Bar -->
<nav class="navbar navbar-dark fixed-top sw-gray">
	<!-- Back (<) Widget-List Link-->
	<a class="sw-black" routerLink="/user/{{uid}}/website/{{wid}}/page/{{pid}}/widget"><i class="fas fa-chevron-left"></i></a>
	
	<!-- Edit Widget Link Widget-Image/Edit Link-->
	<div class="sw-80-width">
		<a class="sw-font-white sw-no-underline float-left" routerLink="/user/{{uid}}/website/{{wid}}/page/{{pid}}/widget/{{wgid}}">Edit Widget</a>
	</div>

	<!-- Check (/) Widget-List Link-->
	<button class="btn sw-button-to-a sw-black float-right" type="submit" form="widgetForm" [disabled]="f.invalid"><i class="fas fa-check"></i></button>
</nav>

<!-- Form -->
<div class="container">
	<form id="widgetForm" (ngSubmit)="update()" #f="ngForm">
		<!-- Name -->
		<div><label>Name</label></div>
		<div class="form-group">
			<input class="form-control" name="name" type="text" placeholder="Name" ngModel="{{widget.name}}" #name="ngModel">
		</div>

		<!-- Text -->
		<div><label>Text</label></div>
		<div class="form-group">
			<input class="form-control" name="text" type="text" placeholder="Text"  ngModel="{{widget.text}}" #text="ngModel">
		</div>

		<!-- URL -->
		<div><label>URL</label></div>
		<div class="form-group">
			<input class="form-control" name="url" type="URL" placeholder="https://www.google.com" required ngModel="{{widget.url}}" #url="ngModel">
		</div>

		<!-- Alert Empty URL -->
		<div class="alert alert-danger" *ngIf="url.invalid && url.touched">URL can't be empty!</div>

		<!-- Width -->
		<div><label>Width</label></div>
		<div class="form-group">
			<input class="form-control" name="width" type="text" placeholder="100%" required ngModel="{{widget.width}}" #width="ngModel">
		</div>

		<!-- Alert Empty Width -->
		<div class="alert alert-danger" *ngIf="width.invalid && width.touched">Width can't be empty!</div>

		<!-- Upload File -->
		<div>
			<form ngNoForm action="{{baseUrl}}/api/user/{{uid}}/website/{{wid}}/page/{{pid}}/widget/{{wgid}}/upload" method="post" enctype="multipart/form-data">
                <div>
                	<!-- Upload File -->
                	<label class='form-group'>Upload</label>
                	<input  name="myFile" type="file" class="form-control"/>
                	<!-- Upload Button -->
                	<button type="submit" class="btn btn-block btn-primary"><b>Upload Image<b/></button>
                </div>
            </form>

			<!-- Delete Button-->
			<button class="btn btn-danger btn-block" type="button" (click)="remove()">Delete</button>
		</div>
	</form>
</div>

<!-- Footer -->
<nav class="navbar navbar-dark sw-gray fixed-bottom">
	<!-- Profile User (Button) -->
	<div class="sw-width">
		<a class="sw-font-white float-right" routerLink="/user/{{uid}}"><i class="fas fa-user"></i></a>
	</div>
</nav>